<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141606082646-2fipoe11rsorq484g4j4uoj7bbv9ul8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141606082646-2fipoe11rsorq484g4j4uoj7bbv9ul8t</string>
	<key>API_KEY</key>
	<string>AIzaSyCGirCYjuH48QLU_UkNBSu-H7b0L9HybvE</string>
	<key>GCM_SENDER_ID</key>
	<string>141606082646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asu.Play-Out</string>
	<key>PROJECT_ID</key>
	<string>play-out-2491a</string>
	<key>STORAGE_BUCKET</key>
	<string>play-out-2491a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141606082646:ios:4f21569eff410456</string>
	<key>DATABASE_URL</key>
	<string>https://play-out-2491a.firebaseio.com</string>
</dict>
</plist>